export BMW_ACCOUNT_USERNAME="my_bmw_i3@icloud.com"
export BMW_ACCOUNT_PASSWORD="connected6rivep@ssword!"
export BMW_VEHICLE_VIN=WBY1Z274C5V69471E
export BMW_IFTTT_API_KEY=UWyjI2MwYV65rxUJJKWDeX1iCnqvmhosmxnvrSYjgNo
